.modal-alert {
    transition: all 0.4s ease-in-out;
    position: fixed;
    top: -50%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.836);
    z-index: 2001;
    padding: 2rem;
    border-radius: 10px;
    opacity: 0;
  }
  
  .show-modal {
    top: 0;
    opacity: 1;
  }