@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", "sans-serif";
}

.transit {
  transition: all 0.3s ease;
}

/* alert modal */
.modal-alert {
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: -50%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.836);
  z-index: 2001;
  padding: 2rem;
  opacity: 0;
}

.show-modal {
  top: 0;
  opacity: 1;
}

/* interactive modal */
.modal-inter {
  transition: all 0.4s ease-in-out;
  position: fixed;
  top: -50%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.836);
  z-index: 2001;
  padding: 2rem;
  opacity: 0;
}

.show-interact {
  top: 0;
  opacity: 1;
}

.hero-btn:hover {
  background: none;
  color: black;
  border: 3px solid black;
}

/* animations */

.animated-right {
  animation: slideInFromRight 1s ease-out forwards;
}

.animated-left {
  animation: slideInFromLeft 1s ease-out forwards;
}

.animated-bottom {
  animation: slideInFromBottom 1s ease-out forwards;
}

.animated-fade {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
